# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/config/local_env.yml
/public/assets/*
/public/uploads/*
/app/controllers/examples
/app/spec
.*
!/.gitignore
!.keep
!/.bowerrc
/config/local_env.yml.save
/public/user-agreement.pdf