%html{:lang => "ru"}
	%head
		%title Landing
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}
		%link{:rel => "shortcut icon", :href => "favicon.ico"}
		%link{:rel => "stylesheet", :href => "css/font-awesome-4.6.3/css/font-awesome.css"}
		%link{:rel => 'stylesheet', :media => 'all', :href => 'css/animate.css'}
		%link{:rel => 'stylesheet', :href => 'css/fonts.css'}
		%link{:rel => 'stylesheet', :href => 'css/main.css'}
	%body
		%header Школа онлайн заработка от Клуба Профессионалов
		.top.flexbox
			%span
			.video_form.flexbox
				.video

				%form.flexbox{:action => "", :method => "post"}
					%input{:name => "name", :type => "text", :placeholder => "Имя"}
					%input{:name => "surname", :type => "text", :placeholder => "Фамилия"}
					%input{:name => "Skype", :type => "text", :placeholder => "Skype"}
					%input{:name => "email", :type => "email", :placeholder => "Почта"}
					%input{:name => "password", :type => "password", :placeholder => "Пароль"}
					%input{:value => "Получить доступ", :type => "submit"}
		%span.opp-h Какие возможности откроются у вас после регистрации?
		.opports.flexbox
			.opp.flexbox
				%i.fa.fa-wrench
				%span Вы получите обучение и необходимые инструменты для создания своей денежной машины через интернет.
			.opp.flexbox
				%i.fa.fa-rocket
				%span Вы сможете без продаж построить свой бизнес через интернет зарабатывая от $800 уже в первые 3-4 недели.
			.opp.flexbox
				%i.fa.fa-cog
				%span Полная автоматизация бизнеса.
		.bonuses-container.flexbox
			%span Какаке особые бонусы и привелегии Вас ждут?
			.bonuses.flexbox
				%i.fa.fa-wifi
				.text-block.flexbox
					%span.main Свободный график:
					%span.about Вы зарабатываете и обучаетесь тогда, когда Вам это удобно. Вам понадобится только компьютер и интернет.
			.bonuses.flexbox
				.text-block.flexbox
					%span.main Онлайн обучение:
					%span.about Вам не нужно придумывать "Велосипед", достаточно просто выполнять пошаговый план действий.
				%i.fa.fa-suitcase
			.bonuses.flexbox
				%i.fa.fa-hourglass
				.text-block.flexbox
					%span.main 100% Гарантия:
					%span.about С нами вы гарантировано начнете зарабатывать в интернете с первого дня.
			.bonuses.flexbox
				.text-block.flexbox
					%span.main Индивидуальный подход к каждому:
					%span.about Мы берем вас за руку и с нуля выводим до результата от $800 в месяц!
				%i.fa.fa-universal-access
		%footer
			%form.flexbox{:action => "", :method => "post"}
				.upper.flexbox
					%input{:name => "name", :type => "text", :placeholder => "Имя"}
					%input{:name => "surname", :type => "text", :placeholder => "Фамилия"}
					%input{:name => "Skype", :type => "text", :placeholder => "Skype"}
				.lower.flexbox
					%input{:name => "email", :type => "email", :placeholder => "Почта"}
					%input{:name => "password", :type => "password", :placeholder => "Пароль"}
					%input{:value => "Получить доступ", :type => "submit"}