<div id="main" class="flexbox">
  <div id="content" class="flexbox full">
    <div class="inst-container flexbox">
      <div class="instr-links flexbox">
        <a id="fstep" href="#fvideo" data-toggle="tab" class="flexbox">Как зарегистрироваться</a>
        <a id="sstep" href="#svideo" data-toggle="tab" class="flexbox">Интерфейс личного кабинета</a>
        <a id="tstep" href="#tvideo" data-toggle="tab" class="flexbox">Пополнение баланса</a>
        <a id="fostep" href="#fovideo" data-toggle="tab" class="flexbox">Как вступить в площадку</a>
      </div>
      <div class="tab-content flexbox">
        <div id="fvideo" class="tab-pane active">
          <div class="video-i">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8XtUNMOdGcw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div id="svideo" class="tab-pane">
          <div class="video-i">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/PYeeDQgWpoo" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div id="tvideo" class="tab-pane">
          <div class="video-i">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RPMuZFQrSy4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div id="fovideo" class="tab-pane">
          <div class="video-i">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qhu-KA0fKeg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>