#settings .modal-body .flexbox {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#settings .modal-body .flexbox button {
  border: none;
  background: #256c5e;
  color: white;
  padding: 3px 5px;
}

#main #content .companies .company {
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#main #content .companies .company .pic_and_rate {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
}

#main #content .companies .company .pic_and_rate .img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#main #content .companies .company .pic_and_rate .img-wrapper img {
  width: 100%;
}

#main #content .companies .company .pic_and_rate .stars {
  font-size: 35px;
  color: #ebebeb;
}

#main #content .companies .company .pic_and_rate .stars .fullstar {
  color: #ffba00;
}

#main #content .companies .company .pic_and_rate .shrt-review {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
  text-align: left;
}

#main #content .companies .company .about_and_btns {
  width: 200px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
}

#main #content .companies .company .about_and_btns .comp-about {
  text-align: justify;
}

#main #content .companies .company .about_and_btns .comp-btns {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#main #content .companies .company .about_and_btns .comp-btns button, #main #content .companies .company .about_and_btns .comp-btns a {
  margin: 10px 0 0;
  background: #256c5e;
  border: none;
  color: white;
  padding: 6px 0;
}
