#main #content #user-stat {
  width: 80%;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 20px auto;
}

@media screen and (max-width: 767px) {
  #main #content #user-stat {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
  }
}

#main #content #user-stat #video {
  width: 100%;
  min-height: 300px;
  background: #eee;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #content #user-stat #video span {
  font-size: 100px;
  color: white;
  font-weight: bold;
}

#main #content #user-stat #pers-svod {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#main #content #user-stat #pers-svod h2 {
  margin: 0;
  font-size: 20px;
}

#main #content #user-stat #pers-svod .info-block2 {
  background: #eee;
  height: 100px;
  width: 100%;
  margin: 20px 5px 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #content #user-stat #pers-svod .info-block2 .alwvis {
  color: black;
  transition: all 500ms;
  font-size: 30px;
  font-weight: bold;
}

#main #content #all-stat {
  width: 80%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #content #all-stat h2 {
  font-size: 60px;
}

@media screen and (max-width: 410px) {
  #main #content #all-stat h2 {
    font-size: 40px;
  }
}

#main #content #all-stat #mini-stat-circ {
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#main #content #all-stat #mini-stat-circ .info-block3 {
  width: 150px;
  height: 150px;
  background: #23a48a;
  border-radius: 50%;
  position: relative;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 5px;
}

#main #content #all-stat #mini-stat-circ .info-block3 .undercover {
  position: absolute;
  color: transparent;
  transition: all 500ms;
}

#main #content #all-stat #mini-stat-circ .info-block3 .alwvis {
  color: #fff;
  transition: all 500ms;
  font-size: 30px;
  font-weight: bold;
}

#main #content #all-stat #mini-stat-circ .info-block3:hover .undercover {
  color: #fff;
}

#main #content #all-stat #mini-stat-circ .info-block3:hover .alwvis {
  color: transparent;
}
