body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "RobotoRegular", sans-serif;
  background: #f2f2f3;
  width: 100%;
  text-align: center;
}

ul, h3, h4, h2, hr {
  padding: 0;
  margin: 0;
}

#sidebar {
  height: 100vh;
  background: #2f4050;
  position: fixed;
  padding: 0;
}

#sidebar #user_info {
  background: url("../img/profile-bg.png");
  background-size: cover;
  color: white;
  text-align: left;
  padding: 20px 10px 40px;
}

#sidebar #user_info img {
  margin: 10px 0 30px 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#sidebar #user_info span {
  margin: 10px 0 0 20px;
  display: block;
}

#sidebar #menu {
  text-align: left;
}

#sidebar #menu li {
  list-style: none;
}

#sidebar #menu li a {
  font-size: 15px;
  color: #8cb1c2;
  padding: 10px 0 10px 30px;
  display: block;
  width: 100%;
}

#sidebar #menu li .active {
  background: #293846;
  color: white;
  padding-left: 26px;
  border-left: 4px solid #1ab394;
}

#sidebar #menu li a:hover {
  text-decoration: none;
  color: white;
  background: #293846;
  cursor: pointer;
}

#topbar {
  height: 50px;
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar #topbar_menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#topbar #topbar_menu a {
  margin: 0 10px;
  color: #999c9e;
}

#topbar #topbar_menu a i {
  position: relative;
}

#topbar #topbar_menu a i .notif_number {
  background: #1ab394;
  color: white;
  font-size: 9px;
  width: 15px;
  height: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border-radius: 2px;
}

#main_content > .col-sm-12 > .row {
  margin: 20px auto;
}

#main_content hr {
  margin: 5px auto;
}

#main_content .info_block {
  background: white;
  width: 100%;
  padding: 5px;
}

#main_content #balances {
  height: 150px;
}

@media screen and (max-width: 768px) {
  #main_content #balances {
    margin-bottom: 10px;
  }
}

#main_content #balances span.balance {
  font-size: 25px;
}

#main_content #balances .mybtn {
  width: 100%;
  margin: 5px auto;
  background: #1ab394;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

#main_content #partnership {
  height: 150px;
}

#main_content #partnership .partner_link {
  margin: 10px auto;
}

#main_content #partnership .partner_link input {
  width: 75%;
  background: #eeeeee;
  border: 1px solid #e7e8e8;
  padding: 5px;
  color: grey;
}

#main_content #partnership .partner_link .mybtn {
  width: 20%;
  margin: auto;
  background: #1ab394;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

#main_content #video {
  height: 300px;
}

#main_content #higher {
  margin-bottom: 62px;
}

@media screen and (max-width: 768px) {
  #main_content #higher {
    margin-bottom: 0;
  }
}

#main_content .infographics h3 {
  margin: 10px 0 20px 15px;
  text-align: left;
}

#main_content .infographics .infographic {
  background: #1ab394;
  color: white;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  #main_content .infographics .infographic {
    margin-bottom: 10px;
  }
}

#main_content .infographics .infographic h4 {
  height: 38px;
}

@media screen and (max-width: 768px) {
  #main_content .infographics .infographic h4 {
    height: auto;
  }
}

#main_content .infographics .infographic span {
  font-size: 20px;
}

#mytabs {
  background: white;
  padding: 10px;
  margin: 10px auto;
}

#mytabs h2 {
  text-align: left;
  margin: 0 auto 20px;
  font-family: "RobotoLight";
}

#mytabs input {
  width: 90%;
  border: 1px solid #e7e8e8;
  padding: 5px;
  color: grey;
}

#mytabs .mybtn {
  width: 9%;
  margin: auto;
  background: #1ab394;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

#mytabsbtn {
  text-align: left;
}

#mytabsbtn ul {
  margin: 10px auto 0;
}

#mytabsbtn ul li {
  list-style: none;
  display: inline-block;
}

#mytabsbtn ul li button {
  background: white;
  border: 1px solid #e7e8e8;
  color: #717476;
  padding: 10px;
}

#mytabsbtn ul li .active {
  border: 1px solid #e7e8e8;
  border-bottom: 1px solid transparent;
}

#mytabsbtn ul li button:focus {
  outline: none;
}

.teammates {
  color: #717476;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border: 1px solid #e7e8e8;
  margin: -1px auto 0;
}

.teammates .teammate_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.teammates .teammate_name, .teammates .teammate_status {
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
}

.teammates .teammate_login {
  -webkit-flex-basis: 50px;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px;
}

#all_info {
  background: white;
  margin: 10px auto;
  padding: 10px;
  color: #717476;
}

#all_info img {
  height: 30px;
  width: 30px;
  text-align: center;
}

#all_info h3 {
  font-family: "RobotoLight";
  margin: 20px auto 10px;
  font-size: 20px;
}

#all_info h4 {
  font-family: "RobotoBold";
  text-align: left;
}

#all_info .mybtn {
  width: 100%;
  margin: auto;
  background: #1ab394;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

#all_info p {
  text-align: left;
}

#all_info #contact_info {
  text-align: left;
}

#all_info #contact_info span {
  margin: 5px 0;
  display: block;
}
