body
	margin: 0
	padding: 0
	font-size: 14px
	font-family: "RobotoRegular", sans-serif
	transition:all 400ms
	background: #f2f2f3
	width: 100%
	text-align: center

ul, h3, h4, h2, hr
	padding: 0
	margin: 0

#sidebar
	height: 100vh
	background: #2f4050
	position: fixed
	padding: 0
	#user_info
		background: url('../img/profile-bg.png')
		background-size: cover
		color: white
		text-align: left
		padding: 20px 10px 40px
		img
			margin: 10px 0 30px 20px
			width: 50px
			height: 50px
			border-radius: 50%
		span
			margin: 10px 0 0 20px
			display: block
	#menu
		text-align: left
		li
			list-style: none
			a
				font-size: 15px
				color: #8cb1c2
				padding: 10px 0 10px 30px
				display: block
				width: 100%
			.active
				background: #293846
				color: white
				padding-left: 26px
				border:
					left: 4px solid #1ab394
			a:hover
				text-decoration: none
				color: white
				background: #293846
				cursor: pointer
#topbar
	height: 50px
	background: white
	display: flex
	align-items: center
	#topbar_menu
		display: flex
		flex-direction: row-reverse
		align-items: center
		a
			margin: 0 10px
			color: #999c9e
			i 
				position: relative
				.notif_number
					background: #1ab394
					color: white
					font-size: 9px
					width: 15px
					height: 10px
					position: absolute
					top: -5px
					right: -10px
					border-radius: 2px
#main_content>.col-sm-12>.row
	margin: 20px auto
#main_content
	hr
		margin: 5px auto
	.info_block
		background: white
		width: 100%
		padding: 5px
	#balances
		height: 150px
		@media screen and (max-width: 768px)
			margin-bottom: 10px
		span.balance
			font-size: 25px
		.mybtn
			width: 100%
			margin: 5px auto
			background: #1ab394
			color: white
			border: none
			border-radius: 2px
			padding: 5px
	#partnership
		height: 150px
		.partner_link
			margin: 10px auto
			input
				width: 75%
				background: #eeeeee
				border: 1px solid #e7e8e8
				padding: 5px
				color: grey
			.mybtn
				width: 20%
				margin: auto
				background: #1ab394
				color: white
				border: none
				border-radius: 2px
				padding: 5px
	#video
		height: 300px
	#higher
		margin-bottom: 62px
		@media screen and (max-width: 768px)
			margin-bottom: 0
	.infographics
		h3
			margin: 10px 0 20px 15px
			text-align: left
		.infographic
			background: #1ab394
			color: white
			border-radius: 2px
			@media screen and (max-width: 768px)
				margin-bottom: 10px
			h4
				height: 38px
				@media screen and (max-width: 768px)
					height: auto
			span
				font-size: 20px
#mytabs
	background: white
	padding: 10px
	margin: 10px auto
	h2
		text-align: left
		margin: 0 auto 20px
		font-family: "RobotoLight"
	input
		width: 90%
		border: 1px solid #e7e8e8
		padding: 5px
		color: grey
	.mybtn
		width: 9%
		margin: auto
		background: #1ab394
		color: white
		border: none
		border-radius: 2px
		padding: 5px
#mytabsbtn
	text-align: left
	ul
		margin: 10px auto 0
		li
			list-style: none
			display: inline-block
			button
				background: white
				border: 1px solid #e7e8e8
				color: #717476
				padding: 10px
			.active
				border: 1px solid #e7e8e8
					bottom: 1px solid transparent
			button:focus
				outline: none
.teammates
	color: #717476
	width: 100%
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-items: center
	padding: 10px 0
	border: 1px solid #e7e8e8
	margin: -1px auto 0
	.teammate_img
		width: 30px
		height: 30px
		border-radius: 50%
	.teammate_name, .teammate_status
		flex-basis: 100px
	.teammate_login
		flex-basis: 50px
#all_info
	background: white
	margin: 10px auto
	padding: 10px
	color: #717476
	img
		height: 30px
		width: 30px
		text-align: center
	h3
		font-family: "RobotoLight"
		margin: 20px auto 10px
		font-size: 20px
	h4
		font-family: "RobotoBold"
		text-align: left
	.mybtn
		width: 100%
		margin: auto
		background: #1ab394
		color: white
		border: none
		border-radius: 2px
		padding: 5px
	p
		text-align: left
	#contact_info
		text-align: left
		span
			margin: 5px 0
			display: block