#main #content .tab-content #info-with-photo {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 69%;
}

@media screen and (max-width: 910px) {
  #main #content .tab-content #info-with-photo #profile-info {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info .flexbox {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#main #content .tab-content #info-with-photo #profile-info input, #main #content .tab-content #info-with-photo #profile-info select {
  background: #def2ee;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 80%;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo #profile-info #for-map {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #main #content .tab-content #info-with-photo #profile-info #for-map select {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info #profile-info-names {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo #profile-info #profile-info-names {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #main #content .tab-content #info-with-photo #profile-info #profile-info-names input {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info #profile-info-contacts {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon {
  width: 80%;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon input, #main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon select {
  width: 90%;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon input, #main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon select {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon i {
  font-size: 25px;
  width: 30px;
  height: 30px;
  color: #23a48a;
}

@media screen and (max-width: 450px) {
  #main #content .tab-content #info-with-photo #profile-info #profile-info-contacts .input-icon i {
    display: none;
  }
}

#main #content .tab-content #info-with-photo #profile-info #soc-icons {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #content .tab-content #info-with-photo #profile-info #soc-icons .soc-icon-input img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#main #content .tab-content #info-with-photo #profile-info #edit-buttons {
  margin: 10px;
}

#main #content .tab-content #info-with-photo #profile-info #edit-buttons button {
  background: #1bb394;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
}

#main #content .tab-content #info-with-photo #photo-block {
  background: #def2ee;
  margin: 10px auto;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0;
  width: 29%;
}

@media screen and (max-width: 910px) {
  #main #content .tab-content #info-with-photo #photo-block {
    width: 100%;
  }
}

#main #content .tab-content #info-with-photo #photo-block #user-profile-photo {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #content .tab-content #info-with-photo #photo-block #user-profile-photo img {
  width: 90%;
}

#main #content .tab-content #info-with-photo #photo-block #photo-btns {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto 0;
}

#main #content .tab-content #info-with-photo #photo-block #photo-btns button {
  background: #fff;
  color: black;
  border: none;
  padding: 10px;
  margin: 0 5px;
}

#main #content .tab-content #secure #securepane {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #content .tab-content #secure #securepane i {
  font-size: 160px;
  color: #aecbc6;
}

#main #content .tab-content #secure #securepane #recovery-inputs {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #content .tab-content #secure #securepane #recovery-inputs input {
  margin: 2px 0;
  border: none;
  padding: 10px;
}

#main #content .tab-content #secure #securepane #recovery-inputs input:focus {
  outline: none;
}

#main #content .tab-content #secure #securepane #recovery-inputs input[type='password'] {
  background: #def3ee;
}

#main #content .tab-content #secure #securepane #recovery-inputs input[type='submit'] {
  background: #24a48b;
  color: white;
}

#main #content .tab-content #statuspane #status {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #content .tab-content #statuspane #status #current-stat {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5px;
}

#main #content .tab-content #statuspane #status #current-stat span {
  font-size: 25px;
}

#main #content .tab-content #statuspane #status #current-stat .ys {
  color: #bcc9c6;
  margin-right: 5px;
}

#main #content .tab-content #statuspane #status #current-stat .as {
  color: #23a48a;
}

#main #content .tab-content #statuspane #status .hr {
  height: 1px;
  background: #bcc9c6;
  width: 20%;
}

#main #content .tab-content #statuspane #status .bigh {
  color: #67ccb8;
  font-size: 40px;
  margin-top: 20px;
}

#main #content .tab-content #statuspane #status .stat-offer {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #content .tab-content #statuspane #status .stat-offer .reason {
  width: 130px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
  margin: 0 20px 20px;
  background: #e1e1e1;
}

#main #content .tab-content #statuspane #status .stat-offer .reason .desc-text {
  height: 80px;
  color: #085e42;
  font-size: 15px;
  margin: 10px 5px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

#main #content .tab-content #statuspane #status .stat-offer .reason .i-container {
  width: 150px;
  height: 150px;
  margin: 0 -10px;
  background: linear-gradient(to bottom right, #00965f, #23a48a);
  font-size: 100px;
  color: #e1e1e1;
  border-radius: 5px;
}

#main #content .tab-content #statuspane #status .stat-offer .reason .i-container img {
  width: 80%;
}

#main #content .tab-content #statuspane #status button {
  background: transparent;
  border: none;
  width: 200px;
}

#main #content .tab-content #statuspane #status button img {
  width: 100%;
}
