#main
	#content
		.tab-content
			width: 100%
			.tab-pane
				width: 95%
				margin: 0 auto
			#info-with-photo
				flex-direction: row
				width: 100%
				@media screen and (max-width: 450px)
					width: 100%
				justify-content: center
				align-items: flex-start
				flex-wrap: wrap
				#profile-info
					flex-direction: column
					justify-content: center
					align-items: center
					width: 69%
					@media screen and (max-width: 910px)
						width: 100%
					.flexbox
						align-items: center
						justify-content: center
						width: 100%
					input, select
						background: #def2ee
						border: none
						padding: 10px
						margin: 10px
						width: 80%
					#for-map
						@media screen and (max-width: 450px)
							flex-wrap: wrap
							select
								width: 100%
					#profile-info-names
						flex-direction: row
						@media screen and (max-width: 450px)
							flex-wrap: wrap
							input
								width: 100%
					#profile-info-contacts
						flex-direction: column
						.input-icon
							width: 80%
							@media screen and (max-width: 450px)
								width: 100%
							input, select
								width: 90%
								@media screen and (max-width: 450px)
									width: 100%
							i
								font-size: 25px
								width: 30px
								height: 30px
								color: #23a48a
								@media screen and (max-width: 450px)
									display: none
					#soc-icons
						flex-direction: column
						.soc-icon-input
							img
								width: 40px
								height: 40px
								border-radius: 50%
					#edit-buttons
						margin: 10px
						button
							background: #1bb394
							color: #fff
							border: none
							padding: 10px 20px
							margin: 0 10px
				#photo-block
					background: #def2ee
					margin: 10px auto
					flex-direction: column
					justify-content: flex-start
					padding: 20px 0
					width: 29%
					@media screen and (max-width: 910px)
						width: 100%
					#user-profile-photo
						justify-content: center
						align-items: center
						img
							width: 90%
					#photo-btns
						justify-content: center
						margin: 20px auto 0
						button
							background: #fff
							color: black
							border: none
							padding: 10px
							margin: 0 5px
			#secure
				#securepane
					justify-content: center
					align-items: center
					flex-wrap: wrap
					i 
						font-size: 160px
						color: #aecbc6
					#recovery-inputs
						flex-direction: column
						justify-content: center
						input
							margin: 2px 0
							border: none
							padding: 10px
						input:focus
							outline: none
						input[type='password']
							background: #def3ee
						input[type='submit']
							background: #24a48b
							color: white
			#statuspane
				#status
					flex-direction: column
					align-items: center
					#current-stat
						justify-content: center
						margin-bottom: 5px
						span 
							font-size: 25px
						.ys
							color: #bcc9c6
							margin-right: 5px
						.as
							color: #23a48a
					.hr
						height: 1px
						background: #bcc9c6
						width: 20%
					.bigh	
						color: #67ccb8
						font-size: 40px
						margin-top: 20px
					.stat-offer
						flex-wrap: wrap
						justify-content: center
						.reason
							width: 130px
							flex-direction: column
							padding-bottom: 20px
							margin: 0 20px 20px
							background: #e1e1e1
							.desc-text
								height: 80px
								color: #085e42
								font-size: 15px
								margin: 10px 5px
								justify-content: center
								align-items: center
								font-weight: bold
							.i-container
								width: 150px
								height: 150px
								margin: 0 -10px
								background: linear-gradient(to bottom right, #00965f, #23a48a)
								font-size: 100px
								color: #e1e1e1
								border-radius: 5px
								img
									width: 80%
					button
						background: transparent
						border: none
						width: 200px
						img
							width: 100%