#main
	#content
		#team-search-detailedinfo
			justify-content: center
			align-items: flex-start
			width: 80%
			#team-with-search
				width: 70%
				#member-search
					background: #ddf0ec
					flex-direction: column
					padding: 10px 40px 60px
					margin: 20px auto 10px
					h1
						margin: 30px 0
						text-align: left
						color: #23a48a
						font-family: "RobotoLight"
					input[type='text']
						background: white
						border: none
						padding: 5px
						width: 80%
					input[type='submit']
						background: #23a48a
						color: white
						border: none
						padding: 5px
						width: 15%
				#member-list
					flex-direction: column
					#member-tabs
						margin: 0 auto 10px
						justify-content: flex-start
						@media screen and (max-width: 795px)
							justify-content: center
						flex-wrap: wrap
						width: 80%
						a
							color: black
							margin: 0 5px
							border:
								bottom: 2px solid #23a48a
							padding: 10px 
							transition: all 500ms
							@media screen and (max-width: 795px)
								width: 100%
								display: inline-block
						.active
							background: #23a48a
							color: white
						a:hover
							text-decoration: none
							background: #23a48a
							color: white
						a:focus
							text-decoration: none
					.tab-content
						width: 100%
						#partners, #mailing, #senpais
							width: 100%
							flex-direction: column
							.partner
								width: 100%
								justify-content: space-between
								align-items: center
								margin: 10px auto 0
								.imgblock
									width: 70px
									height: 70px
									border-radius: 50%
									overflow: hidden
									justify-content: center
									align-items: center
									margin-right: -10px
									z-index: 10
									img
										height: 100%
								span
									height: 45px
									display: inline-flex
									justify-content: center
									align-items: center
									padding: 0 10px
									a 
										color: white
								.nasu
									background: #e0f0ed
									flex-grow: 2
									padding: 0 10px 0 20px
								.id
									background: #bce8df
									flex-grow: 1
								.status
									background: #a3dcd0
									flex-grow: 1
								.time
									background: #88cfc1
									flex-grow: 1
								.date
									background: #65bcaa
									flex-grow: 2
								.onlstatus
									background: #429d8a
									flex-grow: 1
								.moreinfo
									background: #167562
									flex-grow: 0.5
									color: white
									font-size: 25px
								.message
									background: #0c5c4c
									flex-grow: 0.5
									color: white
									font-size: 25px
			#detailed-member-info
				width: 30%