#main #content #team-search-detailedinfo {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-direction: reverse-row;
      -ms-flex-direction: reverse-row;
          flex-direction: reverse-row;
  width: 90%;
}

@media screen and (max-width: 570px) {
  #main #content #team-search-detailedinfo {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (max-width: 1070px) {
  #main #content #team-search-detailedinfo {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

#main #content #team-search-detailedinfo #team-with-search {
  width: 70%;
  margin: 20px auto 0;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 570px) {
  #main #content #team-search-detailedinfo #team-with-search {
    width: 100%;
  }
}

@media screen and (max-width: 1070px) {
  #main #content #team-search-detailedinfo #team-with-search {
    width: 90%;
  }
}

#main #content #team-search-detailedinfo #team-with-search #member-search {
  background: #ddf0ec;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 40px 30px;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin: 0 0 10px;
  width: 100%;
}

#main #content #team-search-detailedinfo #team-with-search #member-search #exact-search {
  width: 100%;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main #content #team-search-detailedinfo #team-with-search #member-search #exact-search h1 {
  text-align: left;
  color: #23a48a;
  font-family: "RobotoLight";
}

#main #content #team-search-detailedinfo #team-with-search #member-search #exact-search form {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 10px;
  margin-top: 17px;
}

#main #content #team-search-detailedinfo #team-with-search #member-search #exact-search form input[type='text'] {
  background: white;
  border: none;
  padding: 5px;
  -webkit-flex-grow: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

#main #content #team-search-detailedinfo #team-with-search #member-search #exact-search form input[type='submit'] {
  background: #23a48a;
  color: white;
  border: none;
  padding: 5px;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#main #content #team-search-detailedinfo #team-with-search #member-search #history-part {
  margin-top: 10px;
}

#main #content #team-search-detailedinfo #team-with-search #member-list {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs {
  margin: 0 auto 10px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 80%;
}

@media screen and (max-width: 570px) {
  #main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs {
    width: 100%;
  }
}

#main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs a {
  color: black;
  margin: 0 5px;
  border-bottom: 2px solid #23a48a;
  padding: 10px;
  transition: all 500ms;
}

@media screen and (max-width: 795px) {
  #main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs a {
    width: 100%;
    display: inline-block;
    margin: 2px 0;
  }
}

#main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs .active {
  background: #23a48a;
  color: white;
}

#main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs a:hover {
  text-decoration: none;
  background: #23a48a;
  color: white;
}

#main #content #team-search-detailedinfo #team-with-search #member-list #member-tabs a:focus {
  text-decoration: none;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content {
  width: 100%;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais {
  width: 100%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner {
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .imgblock, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .imgblock, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .imgblock {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -10px;
  z-index: 1;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .imgblock img, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .imgblock img, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .imgblock img {
  height: 100%;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner span, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner span, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner span {
  height: 45px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner span a, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner span a, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner span a {
  color: white;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .nasu, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .nasu, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .nasu {
  background: #e0f0ed;
  width: 200px;
  padding: 0 10px 0 20px;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .id, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .id, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .id {
  background: #bce8df;
  width: 100px;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .status, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .status, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .status {
  background: #a3dcd0;
  width: 100px;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .date, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .date, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .date {
  background: #88cfc1;
  width: 150px;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .partteam, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .partteam, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .partteam {
  color: white;
  background: #5fbaa8;
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .moreinfo, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .moreinfo, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .moreinfo {
  background: #429d8a;
  color: white;
  font-size: 25px;
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

#main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #partners .partner .message, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #mailing .partner .message, #main #content #team-search-detailedinfo #team-with-search #member-list .tab-content #senpais .partner .message {
  background: #167562;
  color: white;
  font-size: 25px;
  -webkit-flex-grow: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

#main #content #team-search-detailedinfo #detailed-member-info {
  width: 30%;
  padding: 0 0 10px;
  margin: 20px 10px 10px;
  overflow: hidden;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f0f9f7;
}

@media screen and (max-width: 650px) {
  #main #content #team-search-detailedinfo #detailed-member-info {
    width: 90%;
  }
}

@media screen and (min-width: 650px) and (max-width: 1070px) {
  #main #content #team-search-detailedinfo #detailed-member-info {
    width: 50%;
  }
}

#main #content #team-search-detailedinfo #detailed-member-info .hrtop {
  margin: 0 0 10px;
}

#main #content #team-search-detailedinfo #detailed-member-info .hrbott {
  margin: 20px 0 0;
}

#main #content #team-search-detailedinfo #detailed-member-info .hrmidd {
  margin: 10px auto;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header {
  width: 100%;
  overflow: hidden;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto 10px;
  padding: 0 0 10px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #imgblock-2 {
  width: 150px;
  height: 150px;
  margin: -22px 0 0 -22px;
  border-radius: 50%;
  background: white;
  z-index: 1;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #imgblock-2 img {
  height: 100%;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #some-info {
  width: 100%;
  margin-left: -130px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #some-info #status-bar {
  background: #167562;
  color: white;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 130px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #some-info #right-bar-name {
  padding-left: 135px;
  color: #167562;
  font-size: 17px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #some-info #right-bar-about {
  padding-left: 135px;
  color: #bdd4cf;
  font-size: 15px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-header #some-info i {
  width: 50px;
  height: 50px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  top: 85px;
  left: 80px;
  background: #167562;
  z-index: 2;
  color: white;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-contact-info {
  width: 100%;
  font-size: 20px;
  padding: 0 20px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-contact-info hr {
  border-color: #b7d0cb;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-contact-info .contact-element {
  margin: 0 0 10px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-contact-info .contact-element i {
  color: #23a48a;
  font-size: 28px;
  margin: 0 10px 0 10px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-contact-info .contact-element span {
  color: #a5cbc3;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-soc-net {
  width: 100%;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-soc-net img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-in, #main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-out {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-in .ref-big, #main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-out .ref-big {
  color: #23a48a;
  font-size: 20px;
  margin-right: 5px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-in .ref-mid, #main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-out .ref-mid {
  color: #86d2c3;
  font-size: 20px;
  margin-right: 5px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-in .ref-small, #main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-out .ref-small {
  color: #cbe1dc;
  font-size: 18px;
}

#main #content #team-search-detailedinfo #detailed-member-info #d-m-i-ref-out {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
