#main #content .tab-content {
  width: 80%;
}

#main #content .tab-content .offers {
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0 0;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

#main #content .tab-content .offers .goods {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 10px;
}

#main #content .tab-content .offers .goods img {
  width: 100%;
}

#main #content .tab-content .offers .goods .stuff-name {
  background: #efefef;
  width: 100%;
  padding: 10px 0;
  color: #859a95;
  font-weight: bold;
}

#main #content .tab-content .offers .goods .img-price {
  position: relative;
}

#main #content .tab-content .offers .goods .img-price .preview {
  width: 200px;
  height: 200px;
}

#main #content .tab-content .offers .goods .img-price .price {
  background: #0d4f43;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

#main #content .tab-content .offers .goods button {
  padding: 5px;
  background: #0d4f43;
  margin: 20px 0;
  color: white;
  border: none;
  width: 80%;
  font-size: 15px;
}

#main #content .tab-content .offers .goods .activation {
  color: #839a94;
  font-size: 15px;
}
