body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "RobotoRegular", sans-serif;
  text-align: center;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

header {
  padding: 20px 0;
  font-family: "GoodVibes";
  font-size: 40px;
}

.top {
  width: 100%;
  background: url("../img/top-bg.png");
  background-size: cover;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}

.top .video_form {
  width: 80%;
  margin: 0 auto;
}

.top .video_form .video {
  width: 60%;
  background: rgba(255, 255, 255, 0.5);
}

.top .video_form form {
  width: 40%;
  padding: 0 5%;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top .video_form form input {
  margin: 10px;
  padding: 10px;
  border: none;
}

.top .video_form form input[type='submit'] {
  background: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.opp-h {
  margin: 30px 0;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

.opports {
  width: 80%;
  margin: 0 auto 30px;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opports .opp {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  background: #212121;
  color: white;
  padding: 15px;
}

.opports .opp i {
  font-size: 100px;
  height: 120px;
  color: #505050;
}

.bonuses-container {
  background: url("../img/bonuses-bg.png");
  background-size: cover;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bonuses-container > span {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0 50px;
}

.bonuses-container .bonuses {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.bonuses-container .bonuses i {
  width: 250px;
  font-size: 120px;
  color: #212121;
  text-shadow: 0 0 1px white;
}

.bonuses-container .bonuses .text-block {
  width: 250px;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
}

.bonuses-container .bonuses .text-block .main {
  font-size: 25px;
  font-weight: bold;
}

.bonuses-container .bonuses .text-block .about {
  font-size: 15px;
}

footer {
  background: #111111;
  padding: 20px 0;
}

footer form {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

footer form input {
  margin: 0 10px 10px;
  padding: 10px;
  border: none;
  width: 200px;
}

footer form input[type='submit'] {
  background: #ff0000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
