<!-- Target
<textarea type="hidden" id="bar">http://improf.club/?p=<%= current_user.id %></textarea>

<!-- Trigger
<button class="btn" data-clipboard-action="cut" data-clipboard-target="#bar">
  Cut to clipboard
</button>-->

<div id="main_content" class="row">
  <div class="col-sm-12">
    <div class="row">
      <!-- <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6">
            <div id="balances" class="info_block">
              <h4>Доступный баланс:</h4>
              <hr><span id="main_balance" class="balance">$100500</span><br>
              <button id="main_balance_input" class="mybtn">Пополнить</button><br>
              <button id="main_balance_output" class="mybtn">Вывести</button>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="balances" class="info_block">
              <h4>Бонусный баланс:</h4>
              <hr><span id="bonus_balance" class="balance">$100500</span><br>
              <button id="bonus_balance_transfer" class="mybtn">Перевести</button><br>
              <button id="bonus_balance_earn" class="mybtn">Заработать</button>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-sm-6">
        <div id="partnership" class="info_block">
          <h3>Партнерские ссылки:</h3>
          <hr>
          <div id="first_partner_link" class="partner_link">
            <input id="first-partner-link-input" type="text" value="<%= partner_link_url(current_user)%>" disabled name="first_partner_link">
            <button id="copy_first_link" class="mybtn">Копировать</button>
            <!-- <span>Просмотры: </span><span id="first_views">... </span> -->
            <span> Партнеров: </span><span id="first_partners"><%= current_user.descendants.count %> </span>
            <!-- <span>Конверсия: </span><span id="first_conversion">...% </span> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-6">
        <div id="video" class="info_block"></div>
      </div>
      <div class="col-sm-6">
        <div id="higher" class="row infographics">
          <h3>Персональная сводка:</h3>
          <div class="col-sm-6">
            <div class="info_block infographic">
              <h4>Новых участников за сегодня:</h4>
              <hr><span id="new_users_today">100500</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="info_block infographic">
              <h4>Работающих бизнесов:</h4>
              <hr><span id="working_businesses">100500</span>
            </div>
          </div>
        </div>
        <div class="row infographics">
          <div class="col-sm-6">
            <div class="info_block infographic">
              <h4>Инвестиционных проектов в работе:</h4>
              <hr><span id="projects_in_work">100500</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="info_block infographic">
              <h4>Активированных инструментов:</h4>
              <hr><span id="active_instruments">100500</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row infographics">
      <h3>Статистика Клуба:</h3>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Инвестиционных проектов:</h4>
          <hr><span id="inv_projects">100500</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Бизнес направлений:</h4>
          <hr><span id="business_directions">100500</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Участников за сегодня:</h4>
          <hr><span id="todays_users">100500</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Участников всего:</h4>
          <hr><span id="all_users">100500</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Заявок на выплаты:</h4>
          <hr><span id="bills">100500</span>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="info_block infographic">
          <h4>Выплачено средств:</h4>
          <hr><span id="payed_money">100500</span>
        </div>
      </div>
    </div> -->
  </div>
</div>
