body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "RobotoBold", sans-serif;
  text-align: center;
  background: url("../img/bg.png");
  background-size: cover;
  background-position: fixed;
}

.flexbox {
  display: flex;
}
