body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "ProximaNovaRegular", sans-serif;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, #e83e00, #ea8a00);
}

.content {
  min-width: 1100px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 10px black;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  width: 100%;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 10px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.menu img {
  margin: 0 -20px;
  width: 300px;
}

.menu a {
  text-decoration: none;
  font-family: "RobotoBold";
  font-size: 25px;
  color: black;
  padding: 0 20px 10px;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.secblock {
  background: url("../img/sec-block.png");
  height: 743px;
  background-size: cover;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'RobotoBold';
  padding-right: 100px;
}

.secblock span {
  color: white;
}

.secblock .h1 {
  font-size: 66px;
}

.secblock .h2 {
  font-size: 30px;
}

.secblock .min {
  font-size: 22px;
  font-family: 'RobotoLight';
}

.secblock a {
  display: block;
  background: #0e9c6c;
  text-decoration: none;
  font-size: 30px;
  margin: 60px 130px 0 0;
  color: white;
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(to bottom, #059864, #23a486);
}

.fifthblock {
  position: relative;
}

.fifthblock img {
  width: 100%;
}

.fifthblock a {
  display: block;
  position: absolute;
  width: 8.5%;
  height: 4%;
}

.fifthblock #first {
  top: 76%;
  left: 6.2%;
}

.fifthblock #second {
  top: 80.5%;
  left: 24%;
}

.fifthblock #third {
  top: 83.5%;
  left: 45.9%;
}

.fifthblock #fourth {
  top: 80.5%;
  left: 67.5%;
}

.fifthblock #fifth {
  top: 76%;
  left: 85.5%;
}

.sixthblock img, .fourthblock img, .seventhblock img, .eighthblock img, .ninthblock img, .tenthblock img, .thirdblock img {
  width: 100%;
}

.ninthblock {
  position: relative;
}

.ninthblock a {
  width: 24%;
  height: 15%;
  display: block;
  position: absolute;
  top: 85%;
  left: 38%;
}

.tenthblock {
  margin-bottom: 30px;
}
