<% content_for :modals do%>
  <div id="index-business-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Направления бизнеса</h2>
          <div class="row">
            <div class="col-md-6">
              <a href="/business/my" class="btn btn-pripary">Мой бизнес</a>
            </div>
            <div class="col-md-6">
              <a href="/business/all" class="btn btn-pripary">Выбрать направление</a>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-2 col-sm-offset-5">
              <button type="button" data-dismiss="modal" class="btn"><i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
<% end %>