<% content_for :modals do%>
  <div id="index-business-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          
          <h2>Направления бизнеса</h2>
          <div class="toolchoise flexbox">
            <%= link_to business_scope_path 'my' do %>
              <i class="allvis fa fa-male"></i>
              <span class="hidd">Мой бизнес</span>
            <% end %>
            <%= link_to business_scope_path 'all' do %> 
              <i class="allvis fa fa-cog"></i>
              <span class="hidd">Выбрать направление</span>
            <% end %>
          </div>
          <!-- <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button> -->
        </div>
      </div>
    </div>
  </div>
<% end %>