# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f6403e092d0d2c11f01be15152124b292e16d9383bdfcc94bb633409753557a125345c15673ee0360feca2e97c25dcc0990b9d678219ba7dbf6d39de1b88c404

test:
  secret_key_base: bf6fdcfa39970ef2eca3bc252959fe4cc3fa22fe0e1a4cc55ed7c869588f867d01936683a606b25b746e0201a44d96e2a2092852c97613fe90e1802fadf2102b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: bf6fdcfa39970ef2eca3bc252959fe4cc3fa22fe0e1a4cc55ed7c869588f867d01936683a606b25b746e0201a44d96e2a2092852c97613fe90e1802fadf2102b
