<div class='full' id="content">
  <div class="flex-container">
    <% @landings.each do |landing| %>
    <div class='item'>
      <div class='card'>
        <div class='name'><%= landing.name %></div>
        <div class='desc'>text</div>
        <div class='image-wrapper'>
          <%= image_tag "gallery/1.jpg", class: "company-logo" %>
        </div>
      </div>
      <div class='price-wrapper'>
        <div class='price'>
          <span><%= landing.price %>$</span>
        </div>
      </div>
      <div class='btn-wrapper'>
        <%#= link_to "Открыть", "#" %>
        <%= link_to "Активировать", activate_landing_path(landing), method: :post %>
      </div>
    </div>
    <% end %>
  </div>
</div>
