<div class='flex-container full' id="content">
  <% 3.times do %>
  <div class='item'>
    <div class='name'>text</div>
    <div class='desc'>text</div>
    <%= image_tag "gallery/1.jpg", class: "company-logo" %>
  </div>
  <% end %>
</div>
