doctype html
html(lang="ru")
	head
		title= Индеец
		meta(charset='utf-8')/
		meta(name='keywords')/
		meta(name='description')/
		meta(http-equiv='X-UA-Compatible' content='IE=edge')/
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')/
		link(rel='shortcut icon' href='favicon.ico')/
		link(rel='stylesheet' href='css/font-awesome-4.6.3/css/font-awesome.css')/
		link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')/
		link(rel='stylesheet' media='all' href='css/animate.css')/
		link(rel='stylesheet' href='css/fonts.css')/
		link(rel='stylesheet' href='css/main.css')/
		script(type='text/javascript' src='js/jquery-3.1.0.min.js')
		script(src='js/bootstrap/bootstrap.min.js')
		script(src='js/wow.min.js')
	body
		.container-fluid
			.row
				.col-sm-2.hidden-xs#sidebar
					#user_info
						img(src='' alt='profile picture')
						span#username Name Surname
						span#status Status
					ul#menu
						li: a.active(href='#') Главная
						li: a(href='#') Профиль
						li: a(href='#') Команда
				.col-sm-10.col-sm-offset-2#main
					.row#topbar
						.col-sm-12
							#topbar_menu
								a(href='#') <i class="fa fa-sign-out" aria-hidden="true"> Выход</i>
								a(href='#') <i class="fa fa-bell" aria-hidden="true"><div class='notif_number' id='notifications'>12</div></i>
								a(href='#') <i class="fa fa-envelope" aria-hidden="true"><div class='notif_number' id='messages'>8</div></i>
					.row#main_content
						.col-sm-12
							.row
								.col-sm-6
									.row
										.col-sm-6
											.info_block#balances
												h4 Доступный баланс:
												hr
												span.balance#main_balance $100500
												br
												button.mybtn#main_balance_input Пополнить
												br
												button.mybtn#main_balance_output Вывести
										.col-sm-6
											.info_block#balances
												h4 Бонусный баланс:
												hr
												span.balance#bonus_balance $100500
												br
												button.mybtn#bonus_balance_transfer Перевести
												br
												button.mybtn#bonus_balance_earn Заработать
								.col-sm-6
									.info_block#partnership
										h3 Партнерские ссылки:
										hr
										.partner_link#first_partner_link
											input(type='text' value='Somelink.com/dfsssfsf' disabled name='first_partner_link')
											button.mybtn#copy_first_link Копировать
											span Просмотры: 
											span#first_views ... 
											span Партнеров: 
											span#first_partners ... 
											span Конверсия: 
											span#first_conversion ...% 
										//.partner_link#second_partner_link
											input(type='text' value='Somelink.com/dfsssfsf' disabled name='second_partner_link')
											button.mybtn#copy_second_link Копировать
											span Просмотры: 
											span#second_views ... 
											span Партнеров: 
											span#second_partners ... 
											span Конверсия: 
											span#second_conversion ...% 
							.row
								.col-sm-6
									.info_block#video
								.col-sm-6
									.row.infographics#higher
										h3 Персональная сводка:
										.col-sm-6
											.info_block.infographic
												h4 Новых участников за сегодня:
												hr
												span#new_users_today 100500
										.col-sm-6
											.info_block.infographic
												h4 Работающих бизнесов:
												hr
												span#working_businesses 100500
									.row.infographics
										.col-sm-6
											.info_block.infographic
												h4 Инвестиционных проектов в работе:
												hr
												span#projects_in_work 100500
										.col-sm-6
											.info_block.infographic
												h4 Активированных инструментов:
												hr
												span#active_instruments 100500
							.row.infographics
								h3 Статистика Клуба:
								.col-sm-2
									.info_block.infographic
										h4 Инвестиционных проектов:
										hr
										span#inv_projects 100500
								.col-sm-2
									.info_block.infographic
										h4 Бизнес направлений:
										hr
										span#business_directions 100500
								.col-sm-2
									.info_block.infographic
										h4 Участников за сегодня:
										hr
										span#todays_users 100500
								.col-sm-2
									.info_block.infographic
										h4 Участников всего:
										hr
										span#all_users 100500
								.col-sm-2
									.info_block.infographic
										h4 Заявок на выплаты:
										hr
										span#bills 100500
								.col-sm-2
									.info_block.infographic
										h4 Выплачено средств:
										hr
										span#payed_money 100500