doctype html
html(lang="ru")
	head
		title= Индеец
		meta(charset='utf-8')/
		meta(name='keywords')/
		meta(name='description')/
		meta(http-equiv='X-UA-Compatible' content='IE=edge')/
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')/
		link(rel='shortcut icon' href='favicon.ico')/
		link(rel='stylesheet' href='css/font-awesome-4.6.3/css/font-awesome.css')/
		link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')/
		link(rel='stylesheet' media='all' href='css/animate.css')/
		link(rel='stylesheet' href='css/fonts.css')/
		link(rel='stylesheet' href='css/main.css')/
		link(rel='stylesheet' href='css/profile.css')/
		script(type='text/javascript' src='js/jquery-3.1.0.min.js')
		script(type='text/javascript' src='js/jquery-1.12.3.min.js')
		script(src='js/bootstrap/bootstrap.min.js')
		script(src='js/wow.min.js')
	body
		div.modal.fade#links(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						#link.flexbox
							#stat-link
								<i class="fa fa-eye" aria-hidden="true">: 100</i>
								<i class="fa fa-users" aria-hidden="true">: 100</i>
								<i class="fa fa-bar-chart" aria-hidden="true">: 100%</i>
							.btns4link
								input(type='text' id='link-1' value='something.com/?asd=123' disabled)
								button#copy <i class="fa fa-clipboard" aria-hidden="true"></i>
							h2 Партнерская ссылка:
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade#input(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						form#money_input.flexbox(action='' method='post')
							h2 Пополнение баланса:
							.inputs.flexbox
								.input.flexbox
									input#PerfectMoney(type='radio' name='system_input' value='PerfectMoney' checked)
									label.flexbox(for='PerfectMoney' class='label-img')
										img(src='img/perfectmoney.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								.input.flexbox
									input#NixMoney(type='radio' name='system_input' value='NixMoney')
									label.flexbox(for='NixMoney' class='label-img')
										img(src='img/advcash.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#AdvCash(type='radio' name='system_input' value='AdvCash')
									label.flexbox(for='AdvCash' class='label-img')
										img(src='img/nixm.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#Liqpay(type='radio' name='system_input' value='LiqPay')
									label.flexbox(for='Liqpay' class='label-img')
										img(src='img/liqpay.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							.confirm.flexbox
								input(type='text' name='amount' value='Сумма, USD')
								input(type='submit' value='Пополнить')
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade#output(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						form#money_output.flexbox(action='' method='post')
							h2 Пополнение баланса:
							.inputs.flexbox
								.input.flexbox
									input#PerfectMoney_o(type='radio' name='system_output' value='PerfectMoney' checked)
									label.flexbox(for='PerfectMoney_o' class='label-img')
										img(src='img/perfectmoney.png')
										span.red-span Комиссия 1%
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								.input.flexbox
									input#NixMoney_o(type='radio' name='system_output' value='NixMoney')
									label.flexbox(for='NixMoney_o' class='label-img')
										img(src='img/advcash.png')
										span.red-span Комиссия 1%
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#AdvCash_o(type='radio' name='system_output' value='AdvCash')
									label.flexbox(for='AdvCash_o' class='label-img')
										img(src='img/nixm.png')
										span.red-span Без комиссии
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#Liqpay_o(type='radio' name='system_output' value='LiqPay')
									label.flexbox(for='Liqpay_o' class='label-img')
										img(src='img/liqpay.png')
										span.red-span Комиссия 1%
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							.confirm.flexbox
								input(type='text' name='amount' value='Сумма, USD')
								input(type='submit' value='Вывести')
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		nav#top
			.flexbox#flex-top
				#right-bar
					button(data-toggle="modal" data-target="#links") <i class="fa fa-link" aria-hidden="true"></i>
					a.disabled(href='#') 
						<i class="fa fa-user" aria-hidden="true"></i>
					a.disabled(href='#') 
						i.fa.fa-bell(aria-hidden="true")
						.notifications.flexbox.disabled
							span 0
					a.disabled(href='#')
						i.fa.fa-comments(aria-hidden="true")
						.notifications.flexbox.disabled
							span 0
					a.no-bg(href='#') 
						<i class="fa fa-power-off" aria-hidden="true"></i>
				button#menu-btn <i class="fa fa-bars" aria-hidden="true"></i>
		#main.flexbox
			nav#sidebar
				.flexbox.minimized#flex-sidebar
					a.menu-item(href='../')
						<i class="fa fa-th-large"></i>
						span.full-menu Главная
					a.active.menu-item(href='profile.html')
						<i class="fa fa-diamond"></i>
						span.full-menu Профиль
					a.menu-item(href='team.html')
						<i class="fa fa-users"></i>
						span.full-menu Команда
					a.menu-item.disabled
						<i class="fa fa-envelope"></i>
						span.dis-popup Временно недоступно
						span.full-menu Сообщения
					a.menu-item.disabled
						<i class="fa fa-graduation-cap"></i>
						span.dis-popup Временно недоступно
						span.full-menu Обучение
					a.menu-item.disabled
						<i class="fa fa-money"></i>
						span.dis-popup Временно недоступно
						span.full-menu Быстрые деньги
					a.menu-item.disabled
						<i class="fa fa-bank"></i>
						span.dis-popup Временно недоступно
						span.full-menu Бизнес
					a.menu-item.disabled
						<i class="fa fa-usd" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Инвестиции
					a.menu-item.disabled
						<i class="fa fa-cogs"></i>
						span.dis-popup Временно недоступно
						span.full-menu Инструменты
					a.menu-item.disabled
						<i class="fa fa-cubes" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Серфинг сайтов
					a.menu-item.disabled
						<i class="fa fa-line-chart"></i>
						span.dis-popup Временно недоступно
						span.full-menu Финансы
					a.menu-item.disabled
						<i class="fa fa-trophy" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Лоторея
					a.menu-item.disabled
						<i class="fa fa-calendar"></i>
						span.dis-popup Временно недоступно
						span.full-menu Мероприятия
					a.menu-item.disabled
						<i class="fa fa-newspaper-o" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Новости
					a.menu-item.disabled
						<i class="fa fa-heart-o" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Благотворительность
					a.menu-item.disabled
						<i class="fa fa-book"></i>
						span.dis-popup Временно недоступно
						span.full-menu FAQ
					a.menu-item.disabled
						<i class="fa fa-black-tie" aria-hidden="true"></i>
						span.dis-popup Временно недоступно
						span.full-menu Вакансии
			#content.flexbox.full
				#profile-links.flexbox
					a.active(href='#') Настройки профиля
					a.disabled(href='#') Безопасность
					a.disabled(href='#') Статусы
					a.disabled(href='#') Повышение дохода
				#info-with-photo.flexbox
					form#profile-info.flexbox(method='post' name='user-full-information')
						#profile-info-names.flexbox
							input(type='text' name='name' value='Oleg' placeholder='Ваше имя')
							input(type='text' name='surname' value='Kovalenko' placeholder='Ваша фамилия')
						#profile-info-contacts.flexbox
							.flexbox.input-icon
								<i class="fa fa-envelope" aria-hidden="true"></i>
								input(type='email' name='email' value='example@e.mail' placeholder='Email')
							.flexbox.input-icon
								<i class="fa fa-phone" aria-hidden="true"></i>
								input(type='text' name='number' value='+380123456789' placeholder='Ваш номер телефона')
							.flexbox.input-icon
								<i class="fa fa-map-marker" aria-hidden="true"></i>
								#for-map.flexbox
									select(name='country' placeholder='Страна')
										option(value='UA' selected) Ukraine
									input(type='text' name='city' value='Cherkassy' placeholder='Город')
						hr
						#soc-icons.flexbox
							.soc-icon-input.flexbox
								input(type='text' name='skypename' value='Someone' placeholder='Ник в скайпе')
								img(src='img/skype-icon.png')
							.soc-icon-input.flexbox
								input(type='text' name='vk' value='vk.com/blablabla' placeholder='Ссылка на профиль в ВК')
								img(src='img/vk-icon.png')
							.soc-icon-input.flexbox
								input(type='text' name='viber' value='Oleg' placeholder='Ник в Viber')
								img(src='img/viber-icon.ico')
							.soc-icon-input.flexbox
								input(type='text' name='odnoklasniki' value='ok.ru/asdsad' placeholder='Ссылка на профиль в Одноклассниках')
								img(src='img/ok-icon.png')
							.soc-icon-input.flexbox
								input(type='text' name='facebook' value='fb.com/thezombie2111' placeholder='Ссылка на профиль в Facebook')
								img(src='img/facebook-icon.png')
							.soc-icon-input.flexbox
								input(type='text' name='youtube' value='youtube.com/user/u/thezombie2111' placeholder='Ссылка на канал на YouTube')
								img(src='img/youtube-icon.png')
						hr.green
						#edit-buttons.flexbox
							button#hide-user-contacts Скрыть контакты
							button#save-edits Сохранить
					#photo-block.flexbox
						#user-profile-photo.flexbox
							img(src='https://images.vivino.com/avatars/default_user.png')
						#photo-btns.flexbox
							button#upload Загрузить
							//??????????????
							button#save-userpic Сохранить
							//??????????????
		footer
			span Клуб проффесионалов &copy2016 Все права защищены.
			a(href='#') Правила сервиса
		script.
			$('#menu-btn').click(function(){
			  if ($( "#flex-sidebar" ).hasClass( "full" )){
			  		$( "#flex-sidebar" ).removeClass( "full" ).addClass( "minimized" );
			  		$( "#content" ).removeClass( "minimized" ).addClass( "full" );
			  	}
			  else{
			  		$( "#flex-sidebar" ).removeClass( "minimized" ).addClass( "full" );
			  		$( "#content" ).removeClass( "full" ).addClass( "minimized" );
			  }
			});