<h1>Here we go:</h1>
<p>Users have money on wallets: <strong><%= @users_money %></strong></p>
<p>Money got (during all time): <strong><%= @got %></strong></p>
<p>Money withdrawn (during all time): <strong><%= @withdrawn %></strong></p>
<p>So we have: <strong><%= @we_have %></strong></p>
