<h1>Вот:</h1>
<p>У пользователей денег на кошельках: <strong><%= @users_money.round(2) %></strong></p>
<p>Денег получено (за все время): <strong><%= @got.round(2) %></strong></p>
<p>Денег выведено (за все время): <strong><%= @withdrawn.round(2) %></strong></p>
<p>В итоге для вывода: <strong><%= (@we_have - 19).round(2) %></strong></p>
