doctype html
html(lang="ru")
	head
		title= Индеец
		meta(charset='utf-8')/
		meta(name='keywords')/
		meta(name='description')/
		meta(http-equiv='X-UA-Compatible' content='IE=edge')/
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')/
		link(rel='shortcut icon' href='favicon.ico')/
		link(rel='stylesheet' href='css/font-awesome-4.6.3/css/font-awesome.css')/
		link(rel='stylesheet' href='css/bootstrap/bootstrap.min.css')/
		link(rel='stylesheet' media='all' href='css/animate.css')/
		link(rel='stylesheet' href='css/fonts.css')/
		link(rel='stylesheet' href='css/main.css')/
		link(rel='stylesheet' href='css/tools.css')/
		script(type='text/javascript' src='js/jquery-3.1.0.min.js')
		script(type='text/javascript' src='js/jquery-1.12.3.min.js')
		script(src='js/bootstrap/bootstrap.min.js')
		script(src='js/wow.min.js')
	body.flexbox
		div.modal.fade#links(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						#link.flexbox
							#stat-link
								<i class="fa fa-eye" aria-hidden="true">: 100</i>
								<i class="fa fa-users" aria-hidden="true">: 100</i>
								<i class="fa fa-bar-chart" aria-hidden="true">: 100%</i>
							.btns4link
								input(type='text' id='link-1' value='something.com/?asd=123' disabled)
								button#copy 
									i.fa.fa-clipboard(aria-hidden="true")
									span.copy Копировать
							h2 Партнерская ссылка:
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade#input(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						form#money_input.flexbox(action='' method='post')
							h2 Пополнение баланса:
							.inputs.flexbox
								.input.flexbox
									input#PerfectMoney(type='radio' name='system_input' value='PerfectMoney' checked)
									label.flexbox(for='PerfectMoney' class='label-img')
										img(src='img/perfectmoney.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								.input.flexbox
									input#NixMoney(type='radio' name='system_input' value='NixMoney')
									label.flexbox(for='NixMoney' class='label-img')
										img(src='img/nixm.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#AdvCash(type='radio' name='system_input' value='AdvCash')
									label.flexbox(for='AdvCash' class='label-img')
										img(src='img/advcash.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#Liqpay(type='radio' name='system_input' value='LiqPay')
									label.flexbox(for='Liqpay' class='label-img')
										img(src='img/liqpay.png')
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							.confirm.flexbox
								input(type='text' name='amount' value='Сумма, USD')
								input(type='submit' value='Пополнить')
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade#output(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						form#money_output.flexbox(action='' method='post')
							h2 Пополнение баланса:
							.inputs.flexbox
								.input.flexbox
									input#PerfectMoney_o(type='radio' name='system_output' value='PerfectMoney' checked)
									label.flexbox(for='PerfectMoney_o' class='label-img')
										img(src='img/perfectmoney.png')
										span.red-span Комиссия 1%
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								.input.flexbox
									input#NixMoney_o(type='radio' name='system_output' value='NixMoney')
									label.flexbox(for='NixMoney_o' class='label-img')
										img(src='img/nixm.png')
										span.red-span Комиссия 1%
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#AdvCash_o(type='radio' name='system_output' value='AdvCash')
									label.flexbox(for='AdvCash_o' class='label-img')
										img(src='img/advcash.png')
										span.red-span Без комиссии
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
								//.input.flexbox
									input#Liqpay_o(type='radio' name='system_output' value='LiqPay')
									label.flexbox(for='Liqpay_o' class='label-img')
										img(src='img/liqpay.png')
										span.red-span .
										<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							.confirm.flexbox
								input(type='text' name='amount' value='Сумма, USD')
								input(type='submit' value='Вывести')
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade#tools-choose(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						.toolchoise.flexbox
							a(href='buy-tools.html'): i.fa.fa-cart-plus
							a(href='mytools.html'): i.fa.fa-cubes
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		div.modal.fade.activate#activate-website(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-body
						.flexbox
							span.mheadline Активация лендинга
							span.alert Подтверждаете активацию за $127001?
							button.superbutt Активировать
						button(type="button" data-dismiss="modal") <i class="fa fa-undo" aria-hidden="true"></i>
		nav#top
			.flexbox#flex-top
				#right-bar
					button(data-toggle="modal" data-target="#links") <i class="fa fa-link" aria-hidden="true"></i>
					//a(href='#') <i class="fa fa-user" aria-hidden="true"></i>
					a.disabled(href='#') 
						i.fa.fa-bell(aria-hidden="true")
						.notifications.flexbox.disabled
							span 0
					a.disabled(href='#') 
						i.fa.fa-comments(aria-hidden="true")
						.notifications.flexbox.disabled
							span 0
					a.no-bg(href='#') <i class="fa fa-power-off" aria-hidden="true"></i>
				button#menu-btn <i class="fa fa-bars" aria-hidden="true"></i>
		nav#sidebar
			.flexbox.minimized#flex-sidebar
				a.menu-item(href='../')
					<i class="fa fa-th-large"></i>
					span.full-menu Главная
				a.menu-item(href='profile.html')
					<i class="fa fa-diamond"></i>
					span.full-menu Профиль
				a.menu-item(href='team.html')
					<i class="fa fa-users"></i>
					span.full-menu Команда
				a.menu-item.disabled
					<i class="fa fa-envelope"></i>
					span.dis-popup Временно недоступно
					span.full-menu Сообщения
				a.menu-item.disabled
					<i class="fa fa-graduation-cap"></i>
					span.dis-popup Временно недоступно
					span.full-menu Обучение
				a.menu-item.disabled
					<i class="fa fa-money"></i>
					span.dis-popup Временно недоступно
					span.full-menu Быстрые деньги
				a.menu-item.disabled
					<i class="fa fa-bank"></i>
					span.dis-popup Временно недоступно
					span.full-menu Бизнес
				a.menu-item.disabled
					<i class="fa fa-usd" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Инвестиции
				a.menu-item.active#tools-menu(data-toggle="modal" data-target="#tools-choose")
					<i class="fa fa-cogs"></i>
					span.full-menu Инструменты
				a.menu-item.disabled
					<i class="fa fa-cubes" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Серфинг сайтов
				a.menu-item.disabled
					<i class="fa fa-line-chart"></i>
					span.dis-popup Временно недоступно
					span.full-menu Финансы
				a.menu-item.disabled
					<i class="fa fa-trophy" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Лоторея
				a.menu-item.disabled
					<i class="fa fa-calendar"></i>
					span.dis-popup Временно недоступно
					span.full-menu Мероприятия
				a.menu-item.disabled
					<i class="fa fa-newspaper-o" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Новости
				a.menu-item.disabled
					<i class="fa fa-heart-o" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Благотворительность
				a.menu-item.disabled
					<i class="fa fa-book"></i>
					span.dis-popup Временно недоступно
					span.full-menu FAQ
				a.menu-item.disabled
					<i class="fa fa-black-tie" aria-hidden="true"></i>
					span.dis-popup Временно недоступно
					span.full-menu Вакансии
		#main.flexbox
			#content.flexbox.full
				.tab-links.flexbox#main-l
					a.active(href='#landings' data-toggle='tab') Landing Pages
					a.disabled(href='#blogs' data-toggle='tab') Блоги
					a.disabled(href='#online-shops' data-toggle='tab') Интернет магазины
				//.tab-links.flexbox#notmain
					a.active(href='#') Landing page
					a.disabled(href='#') Блоги
					a.disabled(href='#') Интернет магазины
				.tab-content
					#landings.tab-pane.active
						.offers.flexbox
							.goods.flexbox
								img(src='img/oriflame-logo.png' alt='oriflame-logo')
								.stuff-name 
									span Landin page for Oriflame
								.img-price
									img.preview(src='' alt='landing-preview')
									span.price.flexbox 10$
								button.buy-stuff(data-toggle="modal" data-target="#activate-website") Активировать  
									i.fa.fa-plus-circle
							.goods.flexbox
								img(src='img/oriflame-logo.png' alt='oriflame-logo')
								.stuff-name 
									span Landin page for Oriflame
								.img-price
									img.preview(src='' alt='landing-preview')
									span.price.flexbox 10$
								button.buy-stuff(data-toggle="modal" data-target="#activate-website") Активировать  
									i.fa.fa-plus-circle
		footer
			span Клуб проффесионалов &copy2016 Все права защищены.
			a(href='#') Правила сервиса
		script.
			$('#menu-btn').click(function(){
			  if ($( "#flex-sidebar" ).hasClass( "full" )){
			  		$( "#flex-sidebar" ).removeClass( "full" ).addClass( "minimized" );
			  		$( "#content" ).removeClass( "minimized" ).addClass( "full" );
			  	}
			  else{
			  		$( "#flex-sidebar" ).removeClass( "minimized" ).addClass( "full" );
			  		$( "#content" ).removeClass( "full" ).addClass( "minimized" );
			  }
			});
			$('#main-l a').click(function(){
				$( "#main-l a" ).removeClass( "active" );
				$(this).addClass( "active" );
			});
			$('#notmain a').click(function(){
				$( "#notmain a" ).removeClass( "active" );
				$(this).addClass( "active" );
			});