doctype html
html(lang="ru")
	head
		title meeting
		meta(charset='utf-8')/
		meta(http-equiv='X-UA-Compatible' content='IE=edge')/
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')/
		link(rel='shortcut icon' href='favicon.ico')/
		link(rel='stylesheet' href='css/conf.css')/
		script(type='text/javascript' src='js/jquery-3.1.0.min.js')
		script(type='text/javascript' src='js/jquery-1.12.3.min.js')
		script(src='js/bootstrap/bootstrap.min.js')
	body
		object(type="application/x-shockwave-flash" data="http://login.myownmeeting.com/conference.mlmcp" width="99%" height="99%" id="conference" style="visibility: visible;")
			param(name="allowfullscreen" value="true")
			param(name="flashvars" value="room=34997906&amp;fontSize=12&amp;fontColor=#000000&amp;fontFamily=Verdana&amp;backgroundColor=0x6B8EB8")
		form#panel(action='#' method='post')
			a(href='#panel') Получить доступ
			a#close(href='#') X
			input(name='name' type='text' placeholder='Имя')
			input(name='surname' type='text' placeholder='Фамилия')
			input(name='mail' type='text' placeholder='E-mail')
			input(name='vk' type='text' placeholder='Ссылка на профиль в ВК')
			input(type='submit' value='Далее')