doctype html
html(lang="ru")
	head
		title Клуб Профессионалов
		meta(charset='utf-8')/
		meta(name='keywords')/
		meta(name='description')/
		meta(http-equiv='X-UA-Compatible' content='IE=edge')/
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')/
		link(rel='shortcut icon' href='favicon.ico')/
		link(rel='stylesheet' href='css/font-awesome-4.6.3/css/font-awesome.css')/
		link(rel='stylesheet' media='all' href='css/animate.css')/
		link(rel='stylesheet' href='css/fonts.css')/
		link(rel='stylesheet' href='css/main.css')/
		script(type='text/javascript' src='js/jquery-3.1.0.min.js')
		script(src='js/wow.min.js')
	body
		.content
			.menu.flexbox
				a.link(href='#') О клубе
				a.link(href='#') Действия
				a.link(href='#') Доход
				img(src='img/kp-logo.png')
				a.link(href='#') Гарантии
				a.link(href='#') Кабинет
				a.link(href='#') Отзывы
			.secblock.flexbox
				span.h1 НЕТ КОМПЬЮТЕРА?
				span.h2 Не беда! Работать можно даже с телефона
				span.min В будущем будет разработано приложение для телефонов!
				a(href='#') Начать зарабатывать!
			.thirdblock
				img(src='img/third-block.png')
			.fourthblock
				img(src='img/fourth-block.png')
			.fifthblock
				img(src='img/fif-block.png')
				a#first(href='#')
				a#second(href='#')
				a#third(href='#')
				a#fourth(href='#')
				a#fifth(href='#')
			.sixthblock
				img(src='img/sixth-block.png')
			.seventhblock
				img(src='img/seventh-block.png')
			.eighthblock
				img(src='img/eighth-block.png')
			.ninthblock
				img(src='img/ninth-block.png')
				a(href='#')
			.tenthblock
				img(src='img/tenth-block.png')
			//div#topbutt.top
				a(href='body').scroll: img(src='img/up.png')/
			script(type='text/javascript').
				$(document).ready(function(){
					$(".top").on("click","a.scroll", function (event) {
						event.preventDefault();
						var id  = $(this).attr('href'),
						top = $(id).offset().top - 50;
						$('body,html').animate({scrollTop: top}, 1000);
					});
				});
			script new WOW().init();
			script(type='text/javascript').
				jQuery( document ).ready(function() {
					jQuery('#topbutt img').mouseover( function(){
						jQuery( this ).animate({opacity: 1},100);
					}).mouseout( function(){
						jQuery( this ).animate({opacity: 0.65},100);
					});

					jQuery(window).scroll(function(){
						if ( jQuery(document).scrollTop() > 0 ) {
							jQuery('#topbutt').fadeIn('fast');
						} else {
							jQuery('#topbutt').fadeOut('fast');
						}
					});
				});