//= require toastr/toastr.min.css
#main_content>.col-sm-12>.row
	margin: 20px auto
#main_content
	hr
		margin: 5px auto
	.info_block
		background: white
		width: 100%
		padding: 5px
	#balances
		height: 150px
		@media screen and (max-width: 768px)
			margin-bottom: 10px
		span.balance
			font-size: 25px
		.mybtn
			width: 100%
			margin: 5px auto
			background: #1ab394
			color: white
			border: none
			border-radius: 2px
			padding: 5px
	#partnership
		height: 150px
		.partner_link
			margin: 10px auto
			input
				width: 75%
				background: #eeeeee
				border: 1px solid #e7e8e8
				padding: 5px
				color: grey
			.mybtn
				width: 20%
				margin: auto
				background: #1ab394
				color: white
				border: none
				border-radius: 2px
				padding: 5px
	#video
		height: 300px
	#higher
		margin-bottom: 62px
		@media screen and (max-width: 768px)
			margin-bottom: 0
	.infographics
		h3
			margin: 10px 0 20px 15px
			text-align: left
		.infographic
			background: #1ab394
			color: white
			border-radius: 2px
			@media screen and (max-width: 768px)
				margin-bottom: 10px
			h4
				height: 38px
				@media screen and (max-width: 768px)
					height: auto
			span
				font-size: 20px