//= require iCheck/custom.css
//= require fullcalendar/fullcalendar.css
//= require bootstrap-datepicker


.ibox-tools a.btn-edit{
  margin-right: 8px;
  margin-top: 8px;
  color: white;
}
.user-avatar{
  max-height: 100px;
}
