<div id="content" class="flexbox full">
  <div id="profile-tabs" class="flexbox">
    <a href="settings" class="active">Настройки профиля</a>
    <!-- <a href="security" class="disabled">Безопасность</a> -->
    <a href="#" class="disabled">Безопасность</a>
    <a href="roles" class="disabled">Статусы</a>
    <!-- <a href="gain" class="disabled">Повышение дохода</a></div> -->
    <a href="#" class="disabled">Повышение дохода</a></div>

    <div id="settings" class="tab-pane active flexbox">
      <%= render partial: 'show', user: @user %>
    </div>

    <div id="security" class="tab-pane active flexbox">
    </div>

    <div id="roles" class="tab-pane active flexbox">
      <%= render partial: 'status', user: @user %>
    </div>
    
    <div id="gain" class="tab-pane active flexbox">
    </div>

</div>
