<div id="content" class="flexbox full">
  <div class="tab-links flexbox">
    <a href="#iwp" data-toggle="tab" class="active">Настройки профиля</a>
    <a href="#secure" data-toggle="tab">Безопасность</a>
    <a href="#statuspane" data-toggle="tab">Статусы</a>
    <a href="#" class="disabled">Повышение дохода</a>
  </div>
  <div class="tab-content flexbox">
    <!-- # FIXME These tabs are not working -->
    <div id="iwp" class="tab-pane active">
      <%= render partial: 'show', user: @user %>
    </div>

    <div id="secure" class="tab-pane">
    </div>

    <div id="statuspane" class="tab-pane flexbox">
      <%= render partial: 'status', user: @user %>
    </div>
  </div>
</div>
