<div id="links" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="link" class="flexbox">
          <div id="stat-link">
            <i class="fa fa-eye" aria-hidden="true">: 100</i>
            <i class="fa fa-users" aria-hidden="true">: 100</i>
            <i class="fa fa-bar-chart" aria-hidden="true">: 100%</i>
          </div>
          <div class="btns4link">
            <input type="text" id="link-1" value="<%= partner_link_url current_user%>">
            <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
            <button id="copy" data-clipboard-target="#link-1" class="copy-partner-link">Копировать</button>
          </div>
          <h2>Партнерская ссылка:</h2>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<%= yield(:modals) %>
