<div id="links" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="link" class="flexbox">
          <div id="stat-link">
            <i class="fa fa-eye" aria-hidden="true">: 100</i>
            <i class="fa fa-users" aria-hidden="true">: 100</i>
            <i class="fa fa-bar-chart" aria-hidden="true">: 100%</i>
          </div>
          <div class="btns4link">
            <input type="text" id="link-1" value="something.com/?asd=123" disabled>
            <button id="copy"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
          </div>
          <h2>Партнерская ссылка:</h2>
        </div>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="money_input" action="" method="post" class="flexbox">
          <h2>Пополнение баланса:</h2>
          <div class="inputs flexbox">
            <div class="input flexbox">
              <input id="PerfectMoney" type="radio" name="system_input" value="PerfectMoney" checked>
              <label for="PerfectMoney" class="flexbox label-img"><%= image_tag "perfectmoney.png" %><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <div class="input flexbox">
              <input id="NixMoney" type="radio" name="system_input" value="NixMoney">
              <label for="NixMoney" class="flexbox label-img"><%= image_tag "nixm.png" %><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <!--.input.flexbox
            input#AdvCash(type='radio' name='system_input' value='AdvCash')
            label.flexbox(for='AdvCash' class='label-img')
              img(src='img/advcash.png')
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            -->
            <!--.input.flexbox
            input#Liqpay(type='radio' name='system_input' value='LiqPay')
            label.flexbox(for='Liqpay' class='label-img')
              img(src='img/liqpay.png')
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            -->
          </div>
          <div class="confirm flexbox">
            <input type="text" name="amount" value="Сумма, USD">
            <input type="submit" value="Пополнить">
          </div>
        </form>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<div id="output" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="money_output" action="" method="post" class="flexbox">
          <h2>Пополнение баланса:</h2>
          <div class="inputs flexbox">
            <div class="input flexbox">
              <input id="PerfectMoney_o" type="radio" name="system_output" value="PerfectMoney" checked>
              <label for="PerfectMoney_o" class="flexbox label-img"><%= image_tag "perfectmoney.png" %><span class="red-span">Комиссия 1%</span><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <div class="input flexbox">
              <input id="NixMoney_o" type="radio" name="system_output" value="NixMoney">
              <label for="NixMoney_o" class="flexbox label-img"><%= image_tag "nixm.png" %><span class="red-span">Комиссия 1%</span><i class="fa fa-check-circle-o" aria-hidden="true"></i></label>
            </div>
            <!--.input.flexbox
            input#AdvCash_o(type='radio' name='system_output' value='AdvCash')
            label.flexbox(for='AdvCash_o' class='label-img')
              img(src='img/advcash.png')
              span.red-span Без комиссии
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            -->
            <!--.input.flexbox
            input#Liqpay_o(type='radio' name='system_output' value='LiqPay')
            label.flexbox(for='Liqpay_o' class='label-img')
              img(src='img/liqpay.png')
              span.red-span .
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            -->
          </div>
          <div class="confirm flexbox">
            <input type="text" name="amount" value="Сумма, USD">
            <input type="submit" value="Вывести">
          </div>
        </form>
        <button type="button" data-dismiss="modal"><i class="fa fa-undo" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
