<nav id="sidebar">
  <div id="flex-sidebar" class="flexbox minimized">
    <%= link_to home_path, class: "menu-item " + is_active_controller('home').to_s do %>
      <i class="fa fa-th-large"></i><span class="full-menu">Главная</span>
    <% end %>
    <%= link_to users_path, class: "menu-item " + is_active_controller('profile').to_s do %>
      <i class="fa fa-diamond"></i><span class="full-menu">Профиль</span>
    <% end %>
    <%= link_to team_path, class: "menu-item " + is_active_controller('team').to_s do %>
      <i class="fa fa-users"></i><span class="full-menu">Команда</span>
    <% end %>
    <a class="menu-item disabled"><i class="fa fa-envelope"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Сообщения</span></a>
    <a class="menu-item disabled"><i class="fa fa-graduation-cap"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Обучение</span></a>
    <a class="menu-item disabled"><i class="fa fa-money"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Быстрые деньги</span></a>
    <a class="menu-item disabled"><i class="fa fa-bank"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Бизнес</span></a>
    <a class="menu-item disabled"><i class="fa fa-usd" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Инвестиции</span></a>
    <a class="menu-item disabled"><i class="fa fa-cogs"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Инструменты</span></a>
    <a class="menu-item disabled"><i class="fa fa-cubes" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Серфинг сайтов</span></a>
    <a class="menu-item disabled"><i class="fa fa-line-chart"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Финансы</span></a>
    <a class="menu-item disabled"><i class="fa fa-trophy" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Лоторея</span></a>
    <a class="menu-item disabled"><i class="fa fa-calendar"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Мероприятия</span></a>
    <a class="menu-item disabled"><i class="fa fa-newspaper-o" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Новости</span></a>
    <a class="menu-item disabled"><i class="fa fa-heart-o" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Благотворительность</span></a>
    <a class="menu-item disabled"><i class="fa fa-book"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">FAQ</span></a>
    <a class="menu-item disabled"><i class="fa fa-black-tie" aria-hidden="true"></i><span class="dis-popup">Временно недоступно</span><span class="full-menu">Вакансии</span></a>
  </div>
</nav>
