<nav id="top">
  <div id="flex-top" class="flexbox">
    <div id="right-bar">
      <button data-toggle="modal" data-target="#links"><i class="fa fa-link" aria-hidden="true"></i></button>
      <!--a(href='#') <i class="fa fa-user" aria-hidden="true"></i>--><a href="#" class="disabled"> <i aria-hidden="true" class="fa fa-bell"></i>
        <div class="notifications flexbox disabled"><span>0</span></div></a><a href="#" class="disabled"> <i aria-hidden="true" class="fa fa-comments"></i>
        <div class="notifications flexbox disabled"><span>0</span></div></a>
        <%= link_to destroy_user_session_path, :method => :delete, class: "no-bg" do %>
          <i class="fa fa-power-off"></i>
        <% end %>
    </div>
    <button id="menu-btn"><i class="fa fa-bars" aria-hidden="true"></i></button>
  </div>
</nav>
