<p>Приветствуем, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение вашего пароля.

<%= link_to 'Вот она.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали запрос на изменение пароля, пожалуйста игнорируйте это письмо или
  сообщите в поддержку, если это происходит не в первый раз.</p>
